<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <section class="start-modal">
      <section class="modal-box">
        <span>도전을 시작하시겠습니까?</span>
        <div>
          <button>취소</button>
          <button>시작</button>
        </div>
      </section>
    </section>
  </body>
</html>
