<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>random_choice</title>
    <link rel="stylesheet" href="/css/random-challenge-choice.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/toggle.css" type="text/css" />
    <link href="/css/animation.css" type="text/css" rel="stylesheet"/>
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
      rel="stylesheet"
    />
    <script src="/js/random_choice.js" defer></script>
  </head>
  <body>
    <header>
      <a href="javascript:history.go(-1)">
        <img src="/image/header/blackBack.png" alt="뒤로가기"  class="cursor zoom-4"/>
      </a>
    </header>
    <section class="start-order">
      <h1>
        <p class="h1-1">마음에 드는 도전과</p>
        <p class="h1-2">시작할 날짜를 선택해주세요</p>
      </h1>
    </section>

    <form class="random-list" method="post" action="/randomChallenge/randomchallenge/reg">
      <!--    challenge-option 바로 위에 있었는데 옮겼음-->
      <section class="start-order">
        <div class="date-input">
          <label for="start-date">시작일:</label>
          <input required min="yyyy-mm-dd" type="date" id="start-date" name="startDate" />
        </div>
      </section>
      <section class="end-order">
        <div class="end-date">
          <label for="end-date">종료일:</label>
          <input type="date" id="end-date" name="endDate" readonly class="no-click"/>
        </div>
        <div class="visibility_title">
          <label for="visibility">공개여부</label>
          <label id="visibility" class="switch">
            <input type="checkbox" value = true name="visibility" >
            <span class="slider"></span>
          </label>
        </div>
      </section>

      <div class="challenge-option" th:each="challenge:${randomList}">
        <input
          th:value="${challenge.id}"
          th:id="${challenge.id}"
          id="17"
          name="challenge"
          th:name="randomChallengeId"
          type="radio"
          th:data-period="${challenge.period}"
          required
        />
        <label th:data-period="${challenge.period}" th:for="${challenge.id}" for="17" class="zoom-2" >
          <div class="period">
            <p th:text="${challenge.period}+'DAY'">7DAY</p>
          </div>
          <img th:src="${challenge.image}" alt="" />
          <span th:text="${challenge.categoryName}"></span>
          <p th:text="${challenge.name}" class="goal">가족들에게 사랑한다 말하기</p>
        </label>
      </div>

      <div class="create-btn">
        <div type="submit" class="submit-button brighten-2" id="submit">도전생성</div>
        <button type="submit" class="hidden" id="submit-button"></button>
      </div>
    </form>
    <section class="choice-modal hidden">
      <section class="modal-box">
        <span>도전을 시작하시겠습니까?</span>
        <div>
          <button>취소</button>
          <button>시작</button>
        </div>
      </section>
    </section>
  </body>
</html>
