<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/admin.css"/>

  <link
          href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
          rel="stylesheet"
  />
</head>
<body>

<div class="title">관리자 화면</div>

<section class="list">
  <a href="/admin/randomchallenge/manage">
    <span>랜덤도전 관리</span><img src="/image/admin/arrow.png" alt="arrow" />
  </a>
  <a href="/admin/challengeunit/manage"
  ><span>목표단위 관리</span><img src="/image/admin/arrow.png" alt="arrow"
  /></a>
  <a href="/admin/category/manage"
  ><span>카테고리 관리</span><img src="/image/admin/arrow.png" alt="arrow"
  /></a>
  <a href="/logout"
  ><span>로그 아웃</span><img src="/image/admin/arrow.png" alt="arrow"
  /></a>
</section>
</body>
</html>
