<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>group-invite</title>
    <link rel="stylesheet" href="/css/invite-request.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link href="/css/animation.css" type="text/css" rel="stylesheet"/>  
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
      rel="stylesheet"
    />
    <script src="/js/header.js"></script>
    <script src="/js/invite-request.js" defer="defer"></script>
  </head>
  <body>
    <div class="header-fix">
    <header>
      <a href="javascript:history.go(-1)">
        <img src="/image/header/whiteBack.png" alt="뒤로가기"  class="cursor zoom-4"/>
      </a>
    </header>
    </div>
    <div class="content-list">
    <form action="/groupChallenge/invite-request/submit" method="POST">
    <!-- <div class="profile">
      <img th:src="${leader.profileImage}" alt="" />
      <span th:text="${leader.nickname}"></span>
    </div> -->
    <div id="challenge-info">
      <div th:each="unit:${unitList}" th:if="${unit.id == challenge.unitId}">
          <span  th:text="${challenge.goalQuantity}+${unit.name}"></span>
          <span>목표량</span>
      </div>
      <div>
          <span th:text="${challenge.authFrequency}+'일'"></span>
          <span>인증빈도</span>
      </div>
      <div>
          <span id="dayLeftSpan"></span>
          <span>시작일</span>
      </div>
    </div>
    <input type="hidden" name="id" th:value="${challenge.id}">
    <div class="challenge-name">
      <div><span>대기중인 도전</span></div>
      <div><p th:text="${challenge.name}"></p></div>
    </div>

    <section class="challenge-period">
      <div class="period">
        <span>도전 기간</span>
      </div>
      <div class="date">
        <span>시작일</span>
        <span th:text="${challenge.startDate}" id="startDateText">2023년 05월 12일</span>
      </div>
      <div class="date">
        <span>종료일</span>
        <span th:text="${challenge.endDate}">2023년 05월 30일</span>
      </div>
    </section>
    <section class="btn-section">
      <div class="btns">
        <button type="submit" id="refuse-btn" class="brighten cursor">거절하기</button>
        <button type="submit" id="accept-btn" class="brighten-2 cursor">수락하기</button>
      </div>
    </section>
    </form>
    <section class="choice-modal hidden" id="refuse-modal">
      <section class="modal-box">
        <span>도전을 거절하겠습니까?</span>
        <div>
          <button class="closeBtn">닫기</button>
          <button class="okBtn">거절</button>
        </div>
      </section>
    </section>
    <section class="choice-modal hidden" id="accept-modal">
      <section class="modal-box">
        <span>도전을 수락하시겠습니까?</span>
        <div>
          <button class="closeBtn">닫기</button>
          <button class="okBtn">수락</button>
        </div>
      </section>
    </section>
  </div>
  </body>
</html>
