<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>standby-screen</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/modal.css" type="text/css">
    <link rel="stylesheet" href="/css/standby-screen-member.css" type="text/css">
    <script src="/js/standby-screen-member.js" defer="defer"></script>
    <link
    href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
    rel="stylesheet"/>
</head>
<body>
    <form action="/groupChallenge/invite-request/submit?action=refuse" method="POST">
    <div class="content-list">
        <div class="message">
            <p>그룹도전 시작을 기다리는 중입니다</p>
        </div>

        <div class="challenge-title">
            <p>대기중인 도전</p>
            <div>
                <span th:text="${challenge.name}"></span>
            </div>
        </div>

        <div class="friends">
            <p>함께하는 친구</p>
            <div class="profile-wrap">
                <div class="profile" th:each="inviFriend: ${inviList}">
                    <div class="with-user">
                        <img class="img" th:src="${inviFriend.profileImage}" alt="profile-img">
                        <div th:class="${inviFriend.isAccept =='대기중' ? 'wait' : 'hidden'}">대기중</div>
                        <div th:class="${inviFriend.isAccept =='거절' ? 'refuse' : 'hidden'}">거절</div>
                    </div>
                    <span th:text="${inviFriend.nickname}"></span>
                </div>
            </div>
        </div>

        <div class="period">
            <p>도전 기간</p>
            <div class="start-set">
                <p>시작일</p>
                <span th:text="${challenge.startDate}"></span>
            </div>
            <div class="end-set">
                <p>종료일</p>
                <span th:text="${challenge.endDate}"></span>
            </div>
        </div>
        <input type="hidden" name="id" th:value="${challenge.id}">
        <section class="btn-section">
            <div class="btns">
              <button type="button" onclick="location.href = '/main' ">닫기</button>
              <button type="button" id="exit-btn">그룹나가기</button>
            </div>
         </section>

         <section class="choice-modal hidden" id="exit-modal">
            <section class="modal-box">
              <span>그룹을 나가시겠습니까?</span>
              <div>
                <button type = "button" class="closeBtn">닫기</button>
                <button type ="submit" class="okBtn">나가기</button>
              </div>
            </section>
          </section>
          
    </div>
    </form>

</body>
</html>