<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>standby-screen</title>
  <link rel="stylesheet" href="/css/standby-screen.css" type="text/css">
  <link rel="stylesheet" href="/css/modal.css" type="text/css" />
  <link rel="stylesheet" href="/css/my-page-modal.css" type="text/css">
  <link href="/css/animation.css" type="text/css" rel="stylesheet"/>
  <script src="/js/standby-screen.js" defer="defer"></script>
  <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet" />
</head>

<body>

  <div class="content-list">
    <header>
    <div class="message">
      <div id=timer></div>
    </div>
    </header>
    <div class="challenge-title">
      <p>대기중인 도전</p>
      <div>
        <span th:text="${challenge.name}"></span>
      </div>
    </div>

    <div class="friends">
      <div class="modify">
        <p>함께하는 친구</p>
        <button class="modify-friend cursor bold">수정</button>
      </div>
      <div class="profile-wrap">
        <div class="add-friend">
          <button class="add-btn zoom-5 cursor">+</button>
        </div>
        <div class="profile" th:each="inviFriend: ${inviList}"
          th:if="${inviFriend.toMemberId != challenge.groupLeaderId}">
          <div>
            <div class="with-user">
              <button class="delete-btn hidden"><img class="delete-img" src="/image/startchallenge/delete.png"
                  th:data-id="${inviFriend.toMemberId}"></button>

              <img class="img" th:src="${inviFriend.profileImage}" alt="profile-img">
              <div th:class="${inviFriend.isAccept =='대기중' ? 'wait' : 'hidden'}">대기중</div>
              <div th:class="${inviFriend.isAccept =='거절' ? 'refuse' : 'hidden'}">거절</div>
              <input type="hidden" class="is-accept-value" th:value="${inviFriend.isAccept}" />
            </div>
            <span th:text="${inviFriend.nickname}">신도시여신</span>
          </div>
        </div>

      </div>
    </div>

    <div class="period">
      <div class="modify">
        <p>도전 기간</p>
        <button class="modify-date cursor bold-2">수정</button>
      </div>
      <div class="start-set">
        <p>시작일</p>
        <div>
          <span id="startDate" th:text="${challenge.startDate}" th:data-date="${challenge.startDate}"></span>
          <span id="startTime" th:text="${challenge.startTime}+'시'" th:data-time="${challenge.startTime}"></span>
        </div>
      </div>
      <div class="end-set">
        <p>종료일</p>
        <div>
          <span th:text="${challenge.endDate}">2023년 05월 30일</span>
        </div>
      </div>
    </div>
    <div class="buttons" id="buttons">
      <button class="close-btn brighten cursor" onclick="location.href = '/main' ">닫기</button>
      <button type="button" class="start-btn brighten-2 cursor" id="start-btn">바로 시작하기</button>
    </div>
  </div>


  <!-- 함게할 친구 추가 모달 -->
  <div class="modal hidden" id="modal">
    <div class="modal-body">
      <p>함께할 친구를 추가해 보세요</p>
      <div class="friends-list">
        <div class="content" th:each="notInviFriend: ${notInviList}">
          <div class="info">
            <img th:src="${notInviFriend.profileImage}" alt="프로필이미지" />
            <div>
              <span th:text=${notInviFriend.nickname}></span>
              <span th:text=${notInviFriend.name}></span>
            </div>
          </div>
          <input type="checkbox" class="checkbox" th:data-id="${notInviFriend.id}">
        </div>
      </div>
      <input type="hidden" class="challenge-id" th:value="${challenge.id}">
      <input type="hidden" class="leader-id" th:value="${challenge.groupLeaderId}">

      <div class="btns">
        <button type="button" class="submit-btn brighten-2 cursor">그룹 초대</button>
        <button class="modal-close zoom-1 cursor" type="button">&times;</button>
      </div>
    </div>

  </div>

  <section class="choice-modal hidden" id="cancel-modal">
    <section class="modal-box">
      <span>정말로 초대를 삭제하시겠습니까?</span>
      <div>
        <button class="closeBtn">취소</button>
        <button class="okBtn">확인</button>
      </div>
    </section>
  </section>

  <section class="choice-modal hidden" id="start-modal">
    <section class="modal-box" id="start-modal-box">
      <span>도전을 바로 시작하시겠습니까?</span>
      <span>※ 아직 도전을 수락하지 않은 친구는 삭제됩니다.</span>
      <div>
        <button class="closeBtn">취소</button>
        <button class="okBtn">시작</button>
      </div>
    </section>
  </section>

  <section class="complete-modal-buttonless hidden" id="alert-error-modal">
    <section class="buttonless-modal-box">
      <span>친구가 1명이상 모여야 바로시작가능합니다.</span>
    </section>
  </section>

  <section class="complete-modal-buttonless hidden" id="alert-start-modal">
    <section class="buttonless-modal-box">
      <span>도전이 시작되었습니다.</span>
    </section>
  </section>

  <div class="bottom-modal-container" id="date-modal-container">
    <div class="bottom-modal-content" id="date-modal-content">
      <div class="bottom-modal-header">
        <button class="edit-modal-close  zoom-1 cursor">&times;</button>
      </div>

      <!-- 시작일,종료일 변경 모달 -->
      <div class="period_title">
        <div class="period_set">
          <div class="input">
            <label for="startDate">시작일</label>
            <div class="input-form">
              <input required min="yyyy-mm-dd" type="date" id="start_inside" class="inside" name="startDate"
                th:value="${challenge.startDate}" />
            </div>
          </div>
          <div class="input">
            <label for="start_inside">시작시간</label>
            <div class="input-form">

              <select id="new_start_time" name="startTime">
                <option value="am" th:selected="${challenge.startTime < 12 || challenge.startTime == 24}">AM</option>
                <option value="pm" th:selected="${challenge.startTime >= 12 && challenge.startTime != 24}">PM</option>
              </select>

              <select id="new_start_hour" name="startTime">
                <option value="" selected>선택</option>
                <th:block th:if="${challenge.startTime <= 12}">
                  <option th:each="hour : ${#numbers.sequence(1, 12)}" th:value="${hour}"
                    th:selected="${hour == challenge.startTime}" th:text="${hour}"></option>
                </th:block>
                <th:block th:if="${challenge.startTime > 12}">
                  <option th:each="hour : ${#numbers.sequence(1, 12)}" th:value="${hour}"
                    th:selected="${(hour + 12) == challenge.startTime}" th:text="${hour}"></option>
                </th:block>
              </select>
             
              <span>시</span>
            </div>
          </div>
          <div class="input">
            <label for="endDate">종료일</label>
            <div class="input-form">
              <input min="yyyy-mm-dd" type="date" id="end_inside" class="inside" name="endDate" required
                th:value="${challenge.endDate}" />
            </div>
          </div>
        </div>
      </div>
      <div class="alert-container">
      <div class="alert hidden">종료일은 시작일 이후로 설정해주세요.</div>
      <div class="end-date-alert hidden">종료일을 설정해주세요.</div>
      </div>
      <div class="finish-btn">
        <button class="brighten-2 cursor">완료</button>
      </div>
    </div>
  </div>
  </div>
  <section class="complete-modal-buttonless hidden" id="alert-change-modal">
    <section class="buttonless-modal-box">
      <span>도전기간이 변경되었습니다.</span>
    </section>
  </section>
</body>

</html>