<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/my-page.css" type="text/css" />
  <link rel="stylesheet" href="/css/my-page-modal.css">
  <title>myPage</title>
  <link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet"/>

  <script src="/js/my-page.js" defer></script>
  <script src="/js/edit-nickname-modal.js" defer></script>
  <script src="/js/edit-password-modal.js" defer></script>
</head>
<body>
<div class="header-wrap">
  <header>
      <img src="/image/header/whiteLogo.png" alt="4℃"/>
  </header>
</div>

<section>
  <div class="profile">
      <div class="user-image" id="user-image" th:style="'background-image:url('+ ${user.profileImage} + ')'">
        <button class="change-img-btn" ><img src="/image/my-page/profileEdit.png" alt=""/></button>
      </div>


    <div class="info">
      <p class="nickname" th:text="${user.nickname}">고민시</p>
<!--      <button class="nickname-edit" onclick="location.href ='edit-nickname.html'"></button>-->
    </div>

    <div class="challenge-record">
      <div class="total">
        <p>42</p>
        <p>전체도전</p>
      </div>

      <div class="sucess">
        <p>24</p>
        <p>성공도전</p>
      </div>

      <div class="fail">
        <p>18</p>
        <p>실패도전</p>
      </div>
    </div>
  </div>
</section>


<section class="btns">
  <button class="nickname-modal-button">
    <span>닉네임 변경</span>
    <img src="./image/my-page/next.png" alt=">" />
  </button>

  <button class="password-modal-button">
    <span>비밀번호 변경</span>
    <img src="./image/my-page/next.png" alt=">" />
  </button>

  <button onclick="location.href='/logout'">
    <span>로그아웃</span>
    <img src="./image/my-page/next.png" alt=">" />
  </button>
  </div>
</section>

<div class="footer-wrap">
  <footer>
    <button>
      <img src="/image/footer/home.png" onclick="location.href = '/main' " alt="홈" />
    </button>
    <button>
      <img src="/image/footer/community.png" alt="커뮤니티" onclick="location.href = '/community/feed'"/>
    </button>
    <button>
      <img src="/image/footer/friendManagement.png" alt="친구관리" onclick="location.href = 'friendmanage/main'"/>
    </button>
    <button>
      <img src="/image/footer/clickMyPage.png" alt="내정보" />
    </button>
  </footer>
</div>
<!--======================프로필 사진 변경 모달===================-->
    <div class="modal" >
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="buttons">
          <div class="normal-change">
            <button class="normal-image"><img src="/image/my-page/normalProfile.png" alt="기본이미지로"></button>
            <span>기본 이미지</span>
          </div>

          <div class="new-change">
            <button class="new-image"><label for="choose-file"><img src="/image/my-page/newProfile.png" alt="새로운이미지로"></label></button>
            <span>새로운 이미지</span>
          </div>
        </div>
        <input
              type="file"
              id="choose-file"
              class="choose-file"
              name="choose-file"
              accept="image/*"
              onchange="loadFile(this)"/>
      </div>
    </div>
<!--=================닉네임 변경 모달===================-->
    <div class="bottom-modal-container" id="nickname-modal-container">
      <div class="bottom-modal-content" id="nickname-modal-content">
        <div class="bottom-modal-header">
          <button class="modal-close" id="nickname-modal-close">&times;</button>
        </div>
        <div class="input">
          <label for="nickname">닉네임</label>
          <div class="input-form">
            <input type="text" id="nickname" name="nickname" th:value="${user.nickname}" required autocomplete="off" />
            <div id="nickname-error" class="error"></div>
          </div>
        </div>
        <div class="finish-btn" >
          <button disabled >변경</button>
        </div>
      </div>
    </div>
<!--====================비밀번호 변경 모달========================-->
<div class="bottom-modal-container" id="password-modal-container">
  <div class="bottom-modal-content" id="password-modal-content">
    <div class="bottom-modal-header">
      <button class="modal-close" id="password-modal-close">&times;</button>
    </div>


    <div class="input">
      <label for="pwd">현재 비밀번호</label>
      <div class="input-form">
        <input type="password" id="pwd" name="pwd" required autocomplete="off" />
        <div id="pwd-error" class="error"></div>
      </div>
    </div>

    <div class="input">
      <label for="pwd-check">새 비밀번호</label>
      <div class="input-form">
        <input type="password" id="new-pwd" name="pwdcheck" required autocomplete="off"/>
        <div id="new-pwd-error" class="error"></div>
      </div>
    </div>

    <div class="input">
      <label for="pwd-check">새 비밀번호 확인</label>
      <div class="input-form">
        <input type="password" id="pwd-check" name="pwdcheck" required autocomplete="off"/>
        <div id="pwd-check-error" class="error"></div>
      </div>
    </div>

    <div class="finish-btn" >
      <button id="password-finish-btn" disabled>완료</button>
    </div>
<!--    =============변경 완료 모달============-->
    <section class="complete-modal hidden">
      <section class="modal-box">
        <span>완료되었습니다.</span>
        <div>
          <button class="modal-close">닫기</button>
        </div>
      </section>
    </section>
  </div>
</div>

  </body>
</html>