<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
            href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/performance-waiting.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="/js/performance-waiting.js" defer></script>
</head>
<body>
<header>
    <a href="javascript:history.go(-1)">
        <img src="/image/header/whiteBack.png" alt="뒤로가기"/>
    </a>
</header>


<section class="waiting-challenge">
    <div id="cid" style="display: none" th:data-unique-id="${challenge.uniqueId}"></div>
    <p>대기중인 도전</p>
    <div class="challenge-info">
        <div class="auth-frequency">
            <span class="name">인증빈도</span>
            <span class="info" th:text="${challenge.authFrequency} + '일에 한 번' ">1일에 한 번</span>
        </div>
        <div class="goal-quantity">
            <span class="name" >목표량</span>
            <span class="info" th:text="${challenge.goalQuantity} + ' ' + ${challenge.unitName}">30 분</span>
        </div>
    </div>
    <p>도전명</p>
    <div class="challenge-title">
        <span th:text="${challenge.name}">매일 30분이상 운동하기</span>
    </div>
</section>
<section class="challenge-period">
    <p>도전기간</p>
    <div class="date">
        <p>시작일</p>
        <span th:text="${challenge.startDate}">2023년 05월 12일</span>
    </div>
    <div class="date">
        <p>종료일</p>
        <span th:text="${challenge.endDate}">2023년 05월 30일</span>
    </div>
</section>

<div class="btns">
    <button id="challenge-give-up">포기하기</button>
    <button id="challenge-now-start">바로 시작하기</button>
</div>


<section class="choice-modal delete-modal hidden">
    <section class="modal-box delete-modal-content">
        <span>도전을 포기하시겠습니까? <br> 포기할 시 해당 도전이 삭제됩니다</span>
        <div>
            <button class="modal-cancel-btn" id="close-btn">취소</button>
            <button class="modal-delete-btn" id="give-up-btn">포기</button>
        </div>
    </section>
</section>

<section class="complete-modal hidden">
    <section class="modal-box">
        <span>도전이 삭제되었습니다.</span>
        <div>
            <button class="modal-close">닫기</button>
        </div>
    </section>
</section>
</body>
</html>