<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
      rel="stylesheet"
    />
    <script src="/js/feed-detail.js" defer="defer"></script>
    <link rel="stylesheet" href="/css/feed-detail.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link href="/css/animation.css" type="text/css" rel="stylesheet"/>  
  </head>
  <body>
    
    <div class="header-fix">
      <header>
        <a href="javascript:history.go(-1)">
          <img src="/image/header/blackBack.png" alt="뒤로가기" />
        </a>
      </header>
      <section class="detail-header">
        <div class="profile">
          <img class="profile-image" th:src="${challenge.profileImage}" alt="" />
          <span th:text="${challenge.nickname}">멋을아는자</span>
        </div>
        <div class="space-btwn">
          <div class="title-img-wrap">
            <img src="/image/community/seed.svg" alt="">
            <span class="title" th:text="${challenge.challengeName}"
              >하루에 30분씩 가벼운 운동하기</span
            >
          </div>
          <div class="period-comment-wrap">
            <div class="period">
              <span>기간</span>
              <span th:text="${challenge.startDate}">2023.06.05</span> ~
              <span th:text="${challenge.endDate}">2023.07.05</span>
            </div>
            <button class="comment btn-hover-2 cursor">
              <span>전체 댓글</span>
              <img class="comment-btn" src="/image/community/comment.png" alt="" />
              <span th:text="${count}">3</span>
            </button>
          </div>
        </div>
      </section>
    </div>

    <section class="feed-section">
      <section class="feed" th:each="feed:${list}">
        <div class="date">
          <span th:text="${#dates.format(feed.regDate, 'yy.MM.dd')}">23.06.05</span>
        </div>
        <img th:if="${feed.image}" th:src="${feed.image}" alt="" />
        <div class="content"><span th:text="${feed.impression}">자전거탐</span></div>
        <div class="feed-footer"></div>
      </section>
    </section>

    <section class="comment-modal hidden">
      <section class="comment-box">
        <div class="comment-header">댓글</div>
        <section class="comment-content-list">
          <div class="comment-content" th:each="comment : ${commentViewList}">
            <img class="comment-profile-img" th:src="${comment.profileImage}" alt="" />
            <div class="comment-content-text">
              <div class="comment-content-section">
                <span class="comment-content-nickname" th:text="${comment.nickName}">멋을아는자</span>
                <span class="comment-text" th:text="${comment.content}">안녕하세요 테스트입니다.ㅁㅁㅁ</span>
                <div class="comment-content-footer">
                  <div class="comment-content-period" th:text="${comment.timeMessage}">5분전</div>
                  <span th:text="${comment.round}+'회차'">회차</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>
  </body>
</html>
