<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
      rel="stylesheet"
    />
    <script src="/js/free-detail.js" defer="defer"></script>
    <link rel="stylesheet" href="/css/feed-detail.css" />
  </head>
  <body>
    <header>
      <button onclick="goBack()">
        <img src="/image/header/blackBack.png" alt="뒤로가기" />
      </button>
    </header>
    <section class="detail-header">
      <div class="profile">
        <img class="profile-image" src="/image/community/jae.jpg" alt="" />
        <span>멋을아는자</span>
      </div>
      <div class="period"><span>2023.06.05</span> ~ <span>2023.07.05</span></div>
      <div class="space-btwn">
        <span class="title">하루에 30분씩 가벼운 운동하기</span>
        <button class="comment">
          <img class="comment-btn" src="/image/community/comment.png" alt="" />
          <span>3</span>
        </button>
      </div>
    </section>

    <section class="feed">
      <div class="date"><span>23.06.05</span></div>
      <img src="/image/community/photo1.png" alt="" />
      <div class="content"><span>자전거탐</span></div>
    </section>
  </body>
</html>
