<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>community</title>
    <script src="/js/feed.js" defer="defer"></script>
    <link rel="stylesheet" href="/css/feed.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img src="/image/header/blackLogo.png" alt="4℃" width="60" height="40" />
    </header>
    <section class="community-header">
      <div class="friends">
        <button>
          <img th:src="${user.profileImage}" alt="friend" />
          <span th:text="${user.nickname}">신도시아지매</span>
        </button>
        <button th:each="friend:${friendList}">
          <img th:src="${friend.profileImage}" alt="friend" />
          <span th:text="${friend.nickname}">멋을아는자</span>
        </button>
      </div>
    </section>

    <main>
      <section class="feed" th:each="feed:${feedList}">
        <div class="profile">
          <img th:src="${feed.key.profileImage}" alt="friend" />
          <span th:text="${feed.key.nickname}">멋을아는자</span>
        </div>
        <div class="title">
          <span th:text="${feed.key.challengeName}" class="challenge-title"
            >하루에 30분씩 가벼운 스트레칭하기 어쩌고저쩌고 어쩌고</span
          >
          <div class="title-btns">
            <button><img src="/image/community/more.png" alt="" /><span>자세히 보기</span></button>
          </div>
        </div>
        <div class="content">
          <img th:if="${feed.key.Image}" th:src="${feed.key.Image}" alt="" />
          <span th:text="${feed.key.impression}">오늘도 열시미 불태웠다...</span>
        </div>
        <div class="feed-footer">
          <div class="comment">
            <button>
              <img src="/image/community/comment.png" alt="" />
              <span th:text="${#lists.size(feed.value)}">1</span>
            </button>
          </div>
        </div>
      </section>
    </main>

    <div class="footer-wrap">
      <footer>
        <button>
          <img src="/image/footer/home.png" alt="홈" onclick="location.href = '/main' " />
        </button>
        <button>
          <img src="/image/footer/clickCommunity.png" alt="커뮤니티" />
        </button>
        <button>
          <img
            src="/image/footer/friendManagement.png"
            alt="친구관리"
            onclick="location.href = '/friendmanage/main' "
          />
        </button>
        <button>
          <img src="/image/footer/myPage.png" alt="내정보" onclick="location.href = '/my-page' " />
        </button>
      </footer>
    </div>
  </body>
</html>
