* {
  font-family: "SUIT", sans-serif !important;
}
header {
  width: 100%;
  display: flex;
  max-width: 660px;
  margin: 20px 12px;
}
header img {
  padding-left: 12px;
  width: 22px;
}
header > button {
  background-color: white;
  border: none;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-text p {
  margin: 0;
}
.top-text {
  margin: 40px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.top-text :first-child {
  font-size: 20px;
  font-weight: bold;
}
.top-text :nth-child(2) {
  font-size: 12px;
  font-weight: bold;
  color: #787878;
}
.check-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.category-checkBox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
}
.category-checkBox label {
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
  padding: 0 60px;
  width: 80%;
  max-width: 360px;
  height: 68px;
  border: 2px solid #ffffff;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  gap:4px;
}

.category-checkBox label div p {
  margin: 0;
  word-break: keep-all;
}
.category-checkBox label img {
  width: 30px;
  height: 30px;
}

.category-checkBox label div :first-child {
  font-size: 16px;
  font-weight: bold;
}
.category-checkBox label div :nth-child(2) {
  font-size: 8px;
  font-weight: 400px;
  color: #adadad;
}
input[type="checkbox"] {
 display: none;
}

input[type="checkbox"]:checked+ label{
 background-color: #ebf9ff;
}
.create-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 24px 14px;
}
button[type="submit"] {
  background-color: #383d66;
  color: white;
  max-width: 480px;
  width: 80%;
  height: 52px;
  font-size: 14px;
  font-weight: 600;

  border: none;
  border-radius: 12px;
  cursor: pointer;
}
