@import "reset.css";

* {
  font-family: "SUIT", sans-serif !important;
}
header {
  width: 100%;
  display: flex;
  max-width: 660px;
  margin: 20px 12px;
}
header img {
  padding-left: 12px;
  width: 22px;
}
header > button {
  background-color: white;
  border: none;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------------------본문--------------------- */

/* selcet box 공통 */
select {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;

  font-size: 12px;
  font-weight: medium;
  color: black;
  text-align: center;

  height: 38px;
  background-color: #fdfdfd;
}

select option {
  font-size: 12px;
  font-weight: medium;
  color: #333333;
}

/*메세지*/
.massage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.massage p {
  font-size: 16px;
  font-weight: bold;
  color: #333333;

  margin-bottom: 40px;

  width: 80%;
  max-width: 480px;
}
form {
  width: 100%;
}
/*입력폼 리스트 전체 묶는 div*/
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/*카테고리 */
.category_title {
  font-size: 14px;
  font-weight: bold;
  color: #333333;

  display: flex;
  align-items: center;
  justify-content: start;

  gap: 18px;
  width: 80%;
  max-width: 480px;
}

.category_title select {
  width: 100px;
  height: 30px;
}

/*그룹명, 도전명 */

.name_set {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.title {
  width: 80%;
  max-width: 480px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title div {
  display: flex;
  align-items: center;
}
.challenge_name {
  resize: none;
  width: 80%;
  height: 60px;
  background-color: #fdfdfd;
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); */

  font-size: 12px;
  font-weight: medium;
  color: #333333;

  text-align: center;
  padding: 40px 47px 0px 47px;
}

.check-challenge-length {
  margin: 4px 0 0 0;
  font-size: 12px;
  font-weight: 500;
  color: rgb(219, 92, 92);
}

.check-challenge-length-wrap{
  height: 12px;
}

.hidden{
  display: none;
}

/*목표량 설정*/
.quantity_title {
  font-size: 14px;
  font-weight: bold;
  color: #333333;

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  max-width: 480px;
}

.quantity_set {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.quantity_set input {
  width: 48%;
  height: 34px;
  background-color: #fdfdfd;
  font-size: 12px;
  font-weight: medium;
  color: #333333;

  text-align: center;
}

.quantity_set div {
  width: 48%;
}
.quantity_set select {
  width: 100%;
}

/* 인증 빈도 */
.frequency_title {
  font-size: 14px;
  font-weight: bold;
  color: #333333;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 480px;
}

.frequency_set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 77%;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}
.frequency_set div {
  width: 90%;
}
.frequency_set select {
  width: 100%;
}

/*기간 설정*/
.period_title {
  font-size: 14px;
  font-weight: bold;
  color: #333333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.period_title label {
  width: 20%;
  font-size: 14px;
}
.period_set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 80%;
  max-width: 480px;
  margin-top: 20px;
}

.start_set,
.end_set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 100%;
}
.start_set div,
.end_set div {
  width: 77%;
}
.start_time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.start_time div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77%;
}
.inside {
  width: 100%;
  height: 37px;
  background-color: #fdfdfd;

  font-size: 12px;
  font-weight: medium;
  color: #333333;
  text-align: center;
  padding: 0;
}
.time {
  width: 48%;
}
/* 다음 버튼 */
.next_btn {
  padding-top: 24px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.next_btn div,
button {
  border-radius: 12px;

  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 47px;
  background-color: #383d66;
  width: 80%;
  max-width: 480px;
  height: 47px;
}
input,
textarea,
option,
select {
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  background-color: #fdfdfd;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.alert {
  padding-left: 120px;
  color: #d64e4e;
  font-size: 12px;
  font-weight: bold;
}
.time-alert {
  padding-left: 120px;
  color: #d64e4e;
  font-size: 12px;
}

.hidden {
  display: none;
}
