* {
  font-family: "SUIT", sans-serif !important;
}

header {
  width: 100%;
  display: flex;
  max-width: 660px;
  margin: 20px 12px;
  background-color: #fff;
}
header img {
  padding-left: 12px;
  width: 22px;
}
header > button {
  background-color: #fff;
  border: none;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-fix{
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 660px;
}
.detail-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
  width: 100%;
  max-width: 660px;
  box-shadow: 0px 4px 2px -2px #E7E7E7;
  padding-bottom: 20px;
  background-color: #fff;
}
.profile {
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 600;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.period-comment-wrap{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 10px;
}

.comment {
  display: flex;
  align-items: center;
  gap: 3px;
  padding-right: 24px;
  
  border: none;
  background-color: #fff;
}

.comment :first-child{
  margin-right: 5px;
}

.comment span {
  font-weight: 500;
  color: #333333 !important;
}
.comment-btn {
  width: 18px;
  height: 18px;
}
.space-btwn {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.space-btwn img{
  width: 15px;
}

.title-img-wrap{
  display: flex;
  padding-left: 24px;
  gap:4px;
}

.title {
  word-break: keep-all;
  font-size: 16px;
  font-weight: 700;
  padding-top: 3px;
}
.space-btwn button {
  border: none;
  background-color: #fff;
}
.period {
  font-size: 12px;
  font-weight: 600;
  color: #858585;
  padding-left: 24px;
}

.period :first-child{
  padding-right: 5px;
}

.feed {
  padding-top: 20px;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.feed-footer{
  width: 90%;
  max-width: 660px;
  border-bottom: 1px solid #dbdbdb;
}

.feed img {
  width: 100%;
  max-width: 660px;
  padding-bottom: 12px;
}
.date {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  max-width: 660px;
}
.date span {
  color: #858585;
  line-height: 25px;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  max-width: 660px;
  height: 100%;
  padding-bottom: 30px;
}
.content span {
  font-weight: 500;
}

.feed-section{
  margin-bottom: 30px;
  width: 100%;
  margin-top: 190px;
}

.feed-section  :last-child .feed-footer{
  border: none;
}

.comment-content-nickname{
  font-size: 12px;
}

/**댓글 모달**/
.comment-content-list{
  overflow-y: scroll;
  margin-bottom: 20px;
}

.comment-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-content-footer span{
  color: #858585;
}

.comment-content-section > :nth-child(2){
  color: #333333;
}

/* 아이폰 미니 */
@media screen and (max-width: 390px) {
  .comment span {
    font-size: 10px;
  }
  .date span {
    font-size: 10px;
  }
  .content span {
    font-size: 12px; 
  }

  .comment-text{
    font-size: 12px;
  }

  .comment-content-footer span{
    font-size: 10px;
  }

}

/* 모바일 및 10인치 미만 */
@media screen and (min-width: 391px) and (max-width: 899px) {
  .comment span {
    font-size: 12px;
  }
  .date span {
    font-size: 12px;
  }
  .content span {
    font-size: 14px; 
  }

  .comment-text{
    font-size: 12px;
  }
  .comment-content-footer span{
    font-size: 10px;
  }

}

/* 10인치 이상 */
@media screen and (min-width: 900px) {
  .comment span {
    font-size: 12px;
  }
  .date span {
    font-size: 12px;
  }
  .content span {
    font-size: 16px; 
  }

  .comment-text{
    font-size: 14px;
  }
  
  .comment-content-footer span{
    font-size: 12px;
  }

}







