* {
  font-family: "SUIT", sans-serif !important;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  max-width: 660px;
  margin: 20px 12px;
}
header img {
  padding-left: 12px;
  width: 22px;
}
header > button {
  background-color: white;
  border: none;
}
.h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 > h1 {
  width: 80%;
  max-width: 500px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #333333;
}

form {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

label {
  width: 80%;
  max-width: 500px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input-form {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-form input {
  width: 80%;
  max-width: 500px;
  height: 44px;
  border-radius: 8px;
  background: #fdfdfd;
  border: 1px solid #949494;
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
  /* padding-left: 10px; */
  padding: 0;
  padding-left: 10px;
}

#user-id {
  width: 60%;
}

.input div button {
  font-size: 16px;
  font-weight: 500;
  width: 30%;
  height: 44px;

  font-style: normal;
  color: #ffffff;

  background-color: #383d66;
  border-radius: 8px;
  border: none;
}
.id-input-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 83%;
  max-width: 512px;
}
.finish-btn {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  margin: 40px 14px 0px;
}
.finish-btn button {
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  max-width: 512px;
  height: 52px;

  font-style: normal;
  color: #ffffff;

  background-color: #ccc;
  border-radius: 8px;
  border: none;
}

.error {
  color: red;
  font-size: 12px;
  display: flex;
  text-align: left;
  margin-top: 4px;
}

#email {
  background-color: #f0f0f0;
}
