* {
  font-family: "SUIT", sans-serif !important;
}

.choice-modal,
.complete-modal,
.complete-modal-buttonless {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-box {
  transform: translateY(-40%);
  color: #383d66;
  background-color: #fff;
  height: 140px;
  border-radius: 12px;
  width: 80%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  gap: 36px;
}
.buttonless-modal-box {
  transform: translateY(-40%);
  color: #383d66;
  background-color: #fff;
  height: 140px;
  border-radius: 12px;
  width: 80%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  font-weight: bold;
}
.modal-box span {
  font-size: 14px;
  font-weight: bold;
}
.modal-box div {
  width: 100%;
  min-width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-box button {
  font-weight: 600;
  border: none;
  border-top: 1px solid #e4e4e4;
  background-color: #fff;
  width: 50%;
  height: 40px;
}
.modal-box div :first-child {
  color: #ff8f8f;
  border-right: 1px solid #e4e4e4;
  border-radius: 0 0 0 12px;
}
.modal-box div :nth-child(2) {
  border-radius: 0 0 12px 0;
}
.modal-box .modal-close {
  color: #383d66 !important;
  font-weight: 600;
  border: none;
  border-top: 1px solid #e4e4e4;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
  border-radius: 0 0 12px 12px !important;
}
.comment-modal {
  display: flex;
  justify-content: center;
  align-items: end;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 24px 24px 0 0;
  height: 70%;
  width: 100%;
  max-width: 660px;
  transform: translateY(100%);
  transition: transform 1s;
}
.comment-box-show {
  transform: translateY(0);
}
.comment-header {
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  width: 100%;
  height: 60px;
  border-bottom: solid 1px #bebebe;
}
.comment-content-list {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  gap: 36px;
  padding-bottom: 12px;
}
.comment-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.comment-content {
  width: 80%;
  display: flex;
  gap: 12px;
}
.comment-content-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.comment-content-text div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.comment-content-text div :nth-child(2) {
  font-size: 12px;
}
.comment-content-nickname {
  font-size: 12px;
  font-weight: 700;
}
.comment-content-period {
  font-size: 10px;
  color: #858585;
}

.comment-footer {
  border-top: solid 1px #bebebe;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.comment-user-profile-img {
  width: 36px;
  border-radius: 50px;
}
.comment-footer input {
  margin: 18px 0;
  padding-left: 12px;
  border: 1px solid #bebebe;
  width: 60%;
  height: 30px;
  border-radius: 12px;
}
.comment-footer button {
  background-color: #fff;
  border: none;
  font-weight: 600;
}

.hidden {
  display: none;
}

