
* {
    font-family: "SUIT", sans-serif !important;
  }

body {
    margin: 0; 
    background-image: linear-gradient(to bottom,#383D66 372px, #FFFFFF 372px);
    background-repeat: no-repeat;
}



/* 전체 div */
.content-list{
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* 메세지 */
.message{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin: 4px 0px;
}

/* 대기중인 도전 */
.challenge-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;  

    width: 100%;
    max-width: 500px;
    margin-top: 20px;
} 

.challenge-title p{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;

    width: 90%;
}

.challenge-title span{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
} 

.challenge-title div{
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    height: 123px;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* 함께하는 친구 */
.friends{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    max-width: 500px;
    width: 100%;
}

.friends p{
    font-size: 14px;
    font-weight: bold;
    color:#333333;
    width: 90%;
}
.profile img{
    z-index: 2;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: relative;
}
.profile-wrap{
    display: flex;
    align-items: center;

    height: 100px;
    column-gap: 29px;
    width: 90%;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin; /* Firefox 64 이상 버전에서 스크롤바 숨김 */
    -ms-overflow-style: none;
} 

.profile-wrap::-webkit-scrollbar{
    display: none;
}
.profile-wrap {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
.profile {
    font-size: 10px;
    font-weight: medium;
    color: #333333;
    text-align: center;

    display: inline-block;

    width: 60px;
    height: 80px;
}

.profile div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.with-user{
    position: relative;
}
/* 도전기간 */
.period{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    width: 100%;
    max-width: 500px;
}

.period>p{      /*>: 바로 밑 자식에만 먹음 */
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    width: 90%;
}

.start-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 80px; */
    width: 90%;
    font-size: 13px;
    font-weight: 500;
  }
  
  .start-set p {
    line-height: 35px;
  }
  
  .start-set div {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .start-set span {
    /* border-bottom: 1px solid #333333; */
    /* border-radius: 12px; */
    line-height: 35px;
  
    height: 35px;
  
    font-weight: medium;
  }
  
  /* 종료일 */
  .end-set {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
  }
  
  .end-set p {
    line-height: 35px;
  }
  
  .end-set div {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .end-set span {
    /* border-bottom: 1px solid #333333; */
    /* border-radius: 12px; */
    line-height: 35px;
  
    height: 35px;
  
    font-weight: medium;
  }

/* 버튼 */
.btn-section {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    max-width: 500px;
    width: 100%;
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
  }
  .btns button {
    font-size: 16px;
    font-weight: 400;
    border: solid 1px #383d66;
    border-radius: 12px;
    background-color: #ffffff;
    color: #383d66;
    outline: 0;
    height: 47px;
    width: 40%;
  }
  .btns :nth-child(2) {
    border: solid 1px #383d66;
    background-color: #383d66;
    color: #ffffff;
  }

/* 모달 */
/* 모달 전체 */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
}

/* 모달 바디 */
.modal-body{
    position: absolute;
    top:30%;

    border-radius: 12px;

    width: 100%;
    max-width: 400px;
    height: 300px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.modal-body p{
    font-size: 14px;
    font-weight: bold;
    color: #333333;

    margin-top: 90px;
    width: 312px;

    text-align: center;
}


.wait{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(185, 185, 185, 0.5);
    border-radius: 60px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
}

.hidden{
    display: none !important;
}
.refuse{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color:rgba(255, 218, 218, 0.8);
    border-radius: 60px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color : #c11111;
}
.choice-modal{
    z-index: 5;
}

#timer {
    font-size: 20px;
    font-weight: 500;
    color: white;
    width: 100%;
    max-width: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #timer div {
    display: inline-block;
    width: 15%;
    padding: 10px;
    background: #020b43;
    border-radius: 10px;
    border: 2px solid #030d52;
    margin: 4px;
  }
  
  #timer div span {
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: 0.35em;
    font-weight: 400;
  }