<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/challenge-type-choice.css" />
    <link href="/css/animation.css" type="text/css" rel="stylesheet"/>
    <link
      href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
      rel="stylesheet"
    />
    <script src="/js/header.js"></script>
  </head>

  <body>
    <header>
      <a href="javascript:history.go(-1)">
        <img src="/image/header/whiteBack.png" alt="뒤로가기"  class="cursor zoom-4"/>
      </a>
    </header>
    <div class="title">
      <h1>
        <p class="h1">어떤 도전을 해볼까요?</p>
        <p class="h2">도전 종류를 선택해주세요</p>
      </h1>
    </div>
    <div class="challenge-list-wrap">
      <form class="challenge-list" method="post" th:action="@{/challenge/start/choice/type/submit}">
        <div class="challenge-option">
          <input value="individual" id="personal" name="challenge" type="radio" />
          <label for="personal" class="zoom-2">
            <div class="explain-wrap">
              <div><span>개인도전</span><span class="explain">으로</span></div>
              <p class="explain">자유롭게 본인의 도전을 시작해보세요</p>
            </div>
            <img src="/image/startchallenge/personal.png" alt="" />
          </label>
        </div>
        <div class="challenge-option">
          <input value="random" id="random" name="challenge" type="radio" />
          <label for="random" class="zoom-2">
            <div class="explain-wrap">
              <div><span>랜덤도전</span><span class="explain">으로</span></div>
              <p class="explain">다양하고 새로운 도전을 시도해보세요</p>
            </div>
            <img src="/image/startchallenge/random.png" alt="" />
          </label>
        </div>
        <div class="challenge-option">
          <input value="group" id="group" name="challenge" type="radio" />
          <label for="group" class="zoom-2">
            <div class="explain-wrap">
              <div><span>그룹도전</span><span class="explain">으로</span></div>
              <p class="explain">다른사람들과 도전을 함께해보세요</p>
            </div>
            <img src="/image/startchallenge/group.png" alt="" />
          </label>
        </div>
        <!-- <div class="challenge-option zoom-2">
          <input readonly value="set" id="set" name="challenge" type="radio" />
          <label for="set">
            <div class="explain-wrap">
              <div><span>도전세트</span><span class="explain">으로</span></div>
              <p class="explain">좋은 습관을 만들어주는 루틴을 가져보세요</p>
            </div>
            <img src="/image/startchallenge/set.png" alt="" />
          </label>
        </div> -->
        <div class="create-btn">
          <button
            type="submit"
            id="submit-button"
            class="brighten-2"
          >
            선택완료
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
