<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doci.webPrj.user.repository.ChoiceRepository">
    <!-- save --> 

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO choice
            (member_id,
            random_challenge_id,
            start_date,
            <if test='c.visibility == true'>
             visibility,
            </if>
            end_date)
        VALUES
            (#{c.memberId},
            #{c.randomChallengeId},
            #{c.startDate},
            <if test='c.visibility == true'>
            '0',
            </if>
            #{c.endDate})
    </insert>

    <delete id="delete">
        delete from choice
        where id=#{id}
    </delete>

    <!-- update --> 

    <update id="update">
        UPDATE choice
        SET is_finish = 1
        WHERE id = #{id};
    </update>
        <!-- editVisibility --> 

    <update id="editVisibility">
        update choice
        set visibility = #{visibility}
        where id = #{id}
    </update>
    <select id="getVisibility">
    select visibility
    from choice
    where id = #{id}
    </select>
</mapper>