<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doci.webPrj.user.repository.CommentRepository">

    <select id="findViewByRecordId">
        select * from comment_view
        where performance_records_id = #{recordId}
        order by reg_date
    </select>

    <insert id="insert">
        insert into comment
        (content, member_id, performance_records_id)
        values
        (#{comment.content}, #{comment.memberId}, #{comment.performanceRecordsId})
    </insert>
</mapper>