<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.doci.webPrj.user.repository.FreeChallengeRepository">

    <!-- save --> 

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into free_challenge
        (name,
        start_date,
        end_date,
        period,
        auth_frequency,
        goal_quantity,
        unit_id,
        <if test='f.visibility == true'>
        visibility,
        </if>
        
        member_id,
        category_id) 
        values
        (#{f.name},
        #{f.startDate},
        #{f.endDate},
        #{f.period},
        #{f.authFrequency},
        #{f.goalQuantity},
        #{f.unitId},
        <if test='f.visibility == true'>
        '0',
        </if>
        #{f.memberId},
        #{f.categoryId});
    </insert>

    <delete id="delete">
        delete from free_challenge
        where id=#{id}
    </delete>

    <!-- update --> 

    <update id="update">
        UPDATE free_challenge
        SET 
            is_finish = 1,
            result = #{totalResult}
        WHERE id = #{id};
    </update>
    <update id="editVisibility">
        update free_challenge
        set visibility = #{visibility}
        where id = #{id}
    </update>
    <select id="getVisibility">
        select visibility
        from free_challenge
        where id = #{id}
    </select>
</mapper>