<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doci.webPrj.user.repository.GroupStartRepository">
    <!-- save --> 

    <insert id="save">
        INSERT INTO group_start
            (group_challenge_id,
            to_member_id)
        VALUES
            (#{challengeId},
            #{memberId})

    </insert>

   <select id="findList">
        SELECT id from group_start
        where group_challenge_id = #{challengeId}
    </select>
</mapper>