<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.doci.webPrj.user.repository.GroupChallengeRepository">

    <!-- save --> 

    <insert id="save" useGeneratedKeys="true" keyProperty="id" >
        insert into group_challenge
        (name,
        start_date,
        start_time,
        end_date,
        period,
        auth_frequency,
        goal_quantity,
        unit_id,
        group_leader_id,
        category_id) 
        values
        (#{g.name},
        #{g.startDate},
        #{g.startTime},
        #{g.endDate},
        #{g.period},
        #{g.authFrequency},
        #{g.goalQuantity},
        #{g.unitId},
        #{g.groupLeaderId},
        #{g.categoryId});
    </insert>

    <delete id="delete">
    delete from group_challenge where id=#{challengeId}
    </delete>

    <select id="findById" resultType="com.doci.webPrj.user.entity.GroupChallenge">
        select * from group_challenge where id=#{challengeId}
    </select>

    <update id="updateDate">
        UPDATE group_challenge
        <set>
            start_date = #{newStartDate},
            start_time = #{newHour},
            <if test="newEndDate != null">
            end_date = #{newEndDate},
            </if>
        </set>
        WHERE id = #{challengeId}
    </update>

    <!-- update --> 

    <update id="update">
        UPDATE group_challenge
        SET is_finish = 1
        WHERE id = #{id};
    </update>

    <select id="getGroupChallengeIdByGsId">
        select group_challenge_id
        from group_start
        where id = #{groupStartId}
    </select>
        <!-- getTodayStartList --> 

    <select id="getTodayStartList">
        select * 
        from group_challenge
        where start_date = #{currentDate}
    </select>

</mapper>