<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doci.webPrj.user.repository.InvitationRepository">
    <!-- save --> 

    <insert id="save">
        INSERT INTO invitation
            (group_challenge_id,
            to_member_id,is_accept)
        VALUES
            (#{i.groupChallengeId}, #{i.toMemberId},
         <choose>
            <when test="isAccept != null">
                #{isAccept}
            </when>
            <otherwise>
                '대기중'
            </otherwise>
         </choose>
        )
    </insert>

    <update id="update">
        UPDATE invitation
        SET is_accept = #{isAccept}
        WHERE to_member_id = #{userId} and group_challenge_id = #{challengeId} 
    </update>

    <delete id="delete">
     DELETE FROM invitation
        WHERE to_member_id = #{userId} and group_challenge_id = #{challengeId}
</delete>
</mapper>