<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.doci.webPrj.user.repository.MemberRepository">
    <select id="findByUserId" resultType="com.doci.webPrj.user.entity.Member">
        select *
        from member
        where user_id = #{userId};
    </select>
     <select id="findByNickname" resultType="com.doci.webPrj.user.entity.Member">
        select *
        from member
        where nickname = #{nickname};

    </select>

     <select id="findListByNickname" resultType="com.doci.webPrj.user.entity.Member">
        select *
        from member
        where roles = 'USER' AND nickname like '%${nickname}%' AND nickname NOT LIKE #{userNickname}; 
    </select>

    <!-- findById --> 

    <select id="findById" resultType="com.doci.webPrj.user.entity.Member">
        select *
        from member
        where id = #{id};
    </select>

    <update id="updateProfileImage">
        update member
        set profile_image = #{profileImage}
        where id = #{id}
    </update>

    
    <insert id="save">
        insert into
        member(user_id,email,name,nickname,pwd)
        values (#{m.userId},#{m.email},#{m.name},#{m.nickname},#{m.pwd})
    </insert>

    <select id="findListNotInvi">
        select * from member where id NOT IN (select to_member_id from invitation where group_challenge_id = #{challengeId})
        AND id IN (
             <foreach collection="friendList" item="friend" separator=",">
                #{friend.id}
             </foreach>
        );
    </select>

</mapper>