<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doci.webPrj.user.repository.PerformanceRecordsRepository">
    <insert id="save">
        insert into performance_records
            (round,free_challenge_id,choice_id,group_start_id)
        values
            ( #{round},#{freeChallengeId},#{choiceId},#{groupStartId})
    </insert>

    <update id="updateAchvQuantity">
        update performance_records
        set achv_quantity = achv_quantity + 1
        <if test="FCId != null">
        where free_challenge_id = #{FCId}
        and round = (
            select max(round)
            from performance_records
            where free_challenge_id = #{FCId}
            )
        </if>
        <if test="CHId != null">
            where choice_id = #{CHId}
            and round = (
            select max(round)
            from performance_records
            where choice_id = #{CHId}
            )
        </if>
        <if test="GSId != null">
            where group_start_id = #{GSId}
            and round = (
            select max(round)
            from performance_records
            where group_start_id = #{GSId}
            )
        </if>
    </update>

    <select id="getAchvQuantity">
        select achv_quantity
        from performance_records
        <if test="FCId != null">
            where free_challenge_id = #{FCId}
            and round = (
            select max(round)
            from performance_records
            where free_challenge_id = #{FCId}
            )
        </if>
        <if test="CHId != null">
            where choice_id = #{CHId}
            and round = (
            select max(round)
            from performance_records
            where choice_id = #{CHId}
            )
        </if>
        <if test="GSId != null">
            where group_start_id = #{GSId}
            and round = (
            select max(round)
            from performance_records
            where group_start_id = #{GSId}
            )
        </if>
    </select>

    <select id="findList">
        select * 
        from performance_records
        <if test="FCId != null">
            where free_challenge_id=#{FCId}
        </if>
        <if test="CHId != null">
            where choice_id=#{CHId}
        </if>
        <if test="GSId != null">
            where group_start_id=#{GSId}
        </if>
    </select>

    <update id="updateRecords">
        update performance_records
        set
        impression = #{record.impression},
        achv_quantity = #{record.achvQuantity},
        image = #{record.image}
        where id = #{record.id}
    </update>

    <update id="updateResult">
        update performance_records
        <if test="record.achvQuantity gte goalQuantity">
        set result='성공',reg_date=#{currentTime}
        </if>
        <if test="record.achvQuantity lt goalQuantity">
        set result='진행중'
        </if>
        where id=#{record.id}
    </update>

    <select id="findCurrentRecord">
        select *
        from performance_records
        <if test='type.equals("FC")'>
        where free_challenge_id = #{id}
        order by id DESC
        limit 1
        </if>
        <if test='type.equals("CH")'>
        where choice_id = #{id}
        order by id DESC
        limit 1
        </if>
        <if test='type.equals("GS")'>
        where group_start_id = #{id}
        order by id DESC
        limit 1
        </if>
    </select>

    <!-- findByResult --> 

    <select id="findByResult">
        select *
        from performance_records
        where result = '진행중'
    </select>

    <!-- updateFail --> 

    <update id="updateFail">
        update performance_records
        set result='실패'
        where id=#{record.id}
    </update>  
    <update id="updateSuccess">
        update performance_records
        set 
        result='성공',
        reg_date = #{record.regDate}
        where id=#{record.id}
    </update>     
</mapper>