<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.doci.webPrj.common.repository.RandomChallengeRepository">


    <insert id="create">
        insert into random_challenge(name,period,auth_frequency,unit_id, goal_quantity,category_id) 
        values(#{r.name},#{r.period},#{r.authFrequency},#{r.unitId},#{r.goalQuantity},#{r.categoryId});
    </insert>

    <select id="getCategoryList" resultType="com.doci.webPrj.admin.entity.Category">
        select *
        from category
    </select>

    <select id="getUnitList" resultType="com.doci.webPrj.admin.entity.Unit">
        select *
        from unit
    </select>

 <select id="findAllBycategoryId" resultType="com.doci.webPrj.admin.entity.RandomChallenge">
        select * from startupdb.random_challenge
        <where>
        <if test="categoryId!=null">
			category_id = #{categoryId} 
        </if>
        </where>
    </select>

    <select id="findById" resultType="com.doci.webPrj.admin.entity.RandomChallenge">
        select * from startupdb.random_challenge
        where id = #{id}
    </select>

    <update id="update">
        update random_challenge set name=#{r.name},period=#{r.period},auth_frequency=#{r.authFrequency},
        unit_id=#{r.unitId}, goal_quantity=#{r.goalQuantity},category_id=#{r.categoryId}
        where id=#{r.id}
    </update>

        <select id="findRandomByCategory" resultType="com.doci.webPrj.admin.entity.ChoiceRandomList">
        select * from choice_random_list
        where category_id in
        <foreach collection="array" item="arr" open="(" close=")" separator=",">
        #{arr}
        </foreach>
        order by rand()
        limit 3;
    </select>
    
</mapper>