<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/admin.css" />

  <link
          href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css"
          rel="stylesheet"
  />
</head>
<body>
<header>
  <a href="/admin/main">
    <img class="back" src="/image/admin/back.png" alt="back" />
  </a>
</header>

<div class="title">목표단위 관리</div>

<section class="list">
  <a href="/admin/unit/register">
    <span>등록</span><img src="/image/admin/arrow.png" alt="arrow" />
  </a>
  <a href="/admin/unit/edit"
  ><span>수정</span><img src="/image/admin/arrow.png" alt="arrow"
  /></a>
<!--  <a href=""><span>삭제</span><img src="/image/admin/arrow.png" alt="arrow" /></a>-->
</section>
</body>
</html>
